:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
}

/* * {
  margin: 0;
  padding: 0;
} */

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

a {
  text-decoration: none;
}

.logo-web,
.site-nav .link:hover,
.site-nav .link:focus,
.auth-nav a:hover,
.auth-nav a:focus,
.current {
  color: var(--accent-color);
}

.auth-nav a,
.project-subtitle,
.profession {
  color: var(--secondary-text-color);
}

.hero,
footer {
  background-color: var(--secondary-bg-color);
}

.hero-title,
.logo-footer,
.auth-nav .address {
  color: var(--primary-bg-color);
}

.btn,
.team {
  background-color: var(--third-bg-color);
}

.btn:hover,
.btn:focus,
.btn.primary,
.btn.current {
  background-color: var(--accent-color);
  color: var(--primary-bg-color);
}

.teammate {
  background-color: var(--primary-bg-color);
}
